<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Distance Calculator</title>
</head>
<body>
    <center>
        <h1> Distance Calculator</h1>
        <h2>{{word}}</h2>
        
    </center>
<div class="div1">
    <form class="form1" action="/search" method="GET">
        <label for="value1">Origin</label><br>
        <input class="value1" type="text" name="value1" id=""><br><br>
        <label for="value2">Destination:</label><br>
        <input class="value2"type="text" name="value2" id=""><br><br>
        <button class="btn1">Submit</button>
    </form>
    <script src="index.js"></script>
</div>

</body>
</html>